<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61464505-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-61464505-1');
    </script>

    <meta charset="UTF-8">
    <meta name="spektrogram / Lasse Munk" content="spektrogram 404">
    <title>spektrogram 404</title>
    <link href='/css/style.css' rel='stylesheet' type='text/css' />
</head>

<body class='about'>
    <% include ../partials/nav.ejs %>

        <div id="about_header_div">
            <p style="font-size: 48px"><b>whoops.. something went wrong in the state of denmark!</b></p>
        </div>

</body>

</html>