<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61464505-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-61464505-1');
    </script>

    <meta charset="UTF-8">
    <meta name="spektrogram / Lasse Munk" content="about and contact information for spektrogram / Lasse Munk, sound designer, composer and creative coder, for theater, 
    interactive installations. Professional portfolio selected works and personal projects">
    <title>about spektrogram with contact information collaborators</title>
    <link href='/css/style.css' rel='stylesheet' type='text/css' />
</head>

<body class='about'>
    <% include ../partials/nav.ejs %>

    <div id="about_header_div">
        <table>
            <tr>
                <td>
                    <div class="about_headerImg_div">
                         <img class="about_headerImg" src="/img/spektrogram_about_monochrome_speakers_in_room.png" alt="spektrogram speakers in a room distance and localization experiment">

                        </div>
                </td>
        
            </tr>
        </table>
        <div>  
                from experiments with distance to a sound source, and auditory localization    
        </div>
    </div>
    
    <hr>
    <br>


<table class="about_info_table">
<tr>
        <td class="about_contact">
            <img class="about_spektrogram_info" src="/img/spektrogram_contact_info.png" alt="spektrogram / Lasse Munk contact information">
                            
                            <br>
                            <p><b>
                            <a href="http://www.facebook.com/lassespektrogram" target=_blank>spektrogram on facebook</a>
                            <br>
                            <a href="http://www.vimeo.com/lassemunk" target=_blank>spektrogram on vimeo</a>
                            </p></b>
                        </td>
        <td class="about_collaborators">
            <b> clients & collaborators </b>
                
                <% include ../about/links_collaborators.ejs %> 
            </td>

            <td class="about_experience">
                <b> experience with </b><br>
                <b>composing music</b>, <b>design sounds</b> and <b>developing sound concepts</b>
                for theater, interactive installations, movies, videos,
                web-applications.
                <p>
                <b>programming interactive audio applications</b> using Max/MSP, C/arduino,
                JavaScript, C#/Unity, HTML5
                </p>
                <p>
                <b>professional sound productions</b> using ProTools, Nuendo, Ableton Live, iZotope RX, live digital mixing desks etc.    
                </p>
                <p>
                <b>design of electrical circuits</b> for theater and installation use
                </p>
                <p>
                <b>room acoustic treatment</b> and <b>design of PA speaker system</b>
                </p>

            </td>
        </tr>
    </table>
</body>

</html>