<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-61464505-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-61464505-1');
    </script>

<meta charset="UTF-8">
<meta name="spektrogram / Lasse Munk" content="spektrogram / Lasse Munk is a sound designer, composer and creative coder, for theater, interactive 
    installations. Professional portfolio selected works and personal projects"> 
    <title>spektrogram - sound design and programming for theater and interactive installations</title>
    <link href='/css/style.css' rel='stylesheet' type='text/css' />
</head>

<body class='index'>
    <% include ../partials/nav.ejs %>
    
<!-- https://stackoverflow.com/questions/15374918/how-to-put-two-div-boxes-side-by-side -->
    <div class="project_div">
        <% include ../projects/lrrh_trailer.ejs %>
    </div>
    
    <br>
    <hr>
    <div class="project_div">
        <% include ../projects/dorthe.ejs %>
    </div>

    <br>
    <hr>
        <div class="project_div">
            <% include ../projects/vadehavscentret.ejs %>
        </div>
    <br>
    <hr>
            <div class="project_div">
                <% include ../projects/cyrano.ejs %>
            </div>
            <br>
            <hr>
        <div class="project_div">
            <% include ../projects/dummykopf_breath.ejs %>
        </div>
        <br>
        <hr>
        <div class="project_div">
            <% include ../projects/klo_deusexmachina.ejs %>
        </div>
    <br>
    <hr>
        <div class="project_div">
            <% include ../projects/klo_faces.ejs %>
        </div>
    <br>
    <hr>
        <div class="project_div">
            <% include ../projects/klong_fantastic_voyage.ejs %>
        </div>
    <br>
    <hr>
        <div class="project_div">
            <% include ../projects/klong_riyadh.ejs %>
        </div>
    <br>
    <hr>
        <div class="project_div">
            <% include ../projects/rumkraft_creativeCoder.ejs %>
        </div>
    <br>
    <hr>
        <div class="project_div">
            <% include ../projects/mellem_taarne.ejs %>
        </div>
    <br>
    <hr>
        <div class="project_div">
            <% include ../projects/spektrogram_helix.ejs %>
        </div>
    <br>
    <hr>
        <div class="project_div">
            <% include ../projects/abstract_smell.ejs %>
        </div>



    


</body>

</html>