<style> 
:target {
    background-color: yellow;
}
</style>
<nav id="pad_top">
    <table id="navbar">
        <tr>
            <td class="navbar_logoText">spektrogram
            </td>
            <td class="navbar_SoMeIcons">
                    contact on:
                    <a href="http://www.facebook.com/lassespektrogram" target=_blank>facebook</a>
                    
                    <a href="http://www.vimeo.com/lassemunk" target=_blank>vimeo</a>
            
            </b>
            </td>
        </tr> 
        <tr >
            <td class="menu_line" >
                <table class="navbar_menu">
                    <tr>
                        <td><a href="/" class="navBar_index">projects</a></td>
                        <td class="navbar_spacer"> / </td>
                        <td><a href="/about" class="navBar_about">about</a></td> 
                        <td class="navbar_spacer"> / </td>
                        <td><a href="/experiments" class="navBar_experiments">experiments</a></td>
                    </tr>
                </table>
            </td>
            <td class="navbar_descriptionText">
                <b>sound design</b> for artistic purposes
            </tr>
            </td>
    </table>
    <hr>
</nav>