<style> 
:target {
    background-color: yellow;
}
</style>
<nav id="pad_top">
    <table id="navbar">
        <tr>
            <td class="navbar_logoText">spektrogram
            </td>
            <td class="navbar_SoMeIcons">social media icons
            </td>
        </tr> 
        <tr >
            <td class="menu_line" >
                <table class="navbar_menu">
                    <tr>
                        <td><a href="/" class="index">projects</a></td>
                        <td class="navbar_spacer"> / </td>
                        <td><a href="/about" class="about">about</a></td> 
                        <td class="navbar_spacer"> / </td>
                        <td><a href="/experiments" class="experiments">experiments</a></td>
                    </tr>
                </table>
            </td>
            <td class="navbar_descriptionText">
                <b>sound design</b> for artistic purposes
            </tr>
            </td>
    </table>
    <hr>
</nav>