<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>spektrogram</title>
    <link href='/css/style.css' rel='stylesheet' type='text/css' />
</head>

<body class='experiments'>
    <% include partials/nav.ejs %>
        <br> experiments


</body>

</html>