<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>spektrogram</title>
    <link href='/css/style.css' rel='stylesheet' type='text/css' />
</head>

<body class='index'>
    <% include partials/nav.ejs %>
    
<!-- https://stackoverflow.com/questions/15374918/how-to-put-two-div-boxes-side-by-side -->

    <div class="project_div">
           
        <% include projects/dorthe.ejs %>
    </div>

    <br>
    <hr>
    <br>
        <div class="project_div">
        
            <% include projects/dorthe.ejs %>
          
        </div>
    <br>
   

</body>

</html>