<table>
    <tr>

        <td class="experiments_video_td">
            <div class="experiments_video_div">
            <iframe width="500" height="281.25" src="https://www.youtube.com/embed/p4OLVAqymws?rel=0&amp;controls=1&amp;showinfo=0"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </td>

        <td class="experiments_video_text_td">
            <div class="experiments_video_text_div">
                <b>spektrogram</b> assisted <a href="http://www.sorenandreasen.com" target=_blank>Søren Andreasen</a> in creating an acoustic sequencer inside a camping caravan, displayed on the Copenhagen
                based electronic music festival <a href="http://stromcph.dk/" target=_blank>STRØM Festival</a>. <p>The installation were based mainly on the use of aduino microcontrollers and max/msp which
                controlled solenoids used as hammers inside the caravans cabinets. Relays where used to control the the water pump for the
                kitchen faucet and a vacuum cleaner - all elements in acoustical musical transformation of an original piece by danish composer
                <a href="https://bjornsvin.com/" target=_blank>Bjørn Svin</a>.</p>
            
                <p>
                    <b>
                        spektrogram: electronics, programming
                    </b>
                </p>
            </div>
        </td>

    </tr>
</table>