<table>
    <tr>

        <td class="experiments_video_td">
            <div class="experiments_video_div">
                <iframe src="https://player.vimeo.com/video/153529319?color=ef2400&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </td>

        <td class="experiments_video_text_td">
            <div class="experiments_video_text_div">
                Exploration of how nano-technology could potentially alter the appearance of a dancer
                during show, to change the aesthetics of that persons movements. 
                <p>
                     concept and video developed in collaboration with scenographer Ida Munk Ørstrøm.
                </p>
            </div>
        </td>

    </tr>
</table>