<table>
<tr>

    <td class="experiments_video_td">
        <div class="experiments_video_div">
            <iframe src="https://player.vimeo.com/video/194739265?color=ef2400&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </td>

    <td class="experiments_video_text_td">
        <div class="experiments_video_text_div">
             PHRENIA Is an abstract installation displaying auditory and visual hallucinations, to create awareness of the difficult
            experiences of people who suffer from mental illnesses and in particular schizophrenia. It is a consideration on using virtual
            reality in performing arts.

            <p>A big thank you to:<br> Actress: Yvonne <br> Actor: Thilo Herrmann <br> Script: Amalie Olesen Harry Fuhrmann <br> http://www.khora-vr.com <br> http://www.makropol.dk

            </p>
        </div>
    </td>

</tr>
</table>