<table>
<tr>

    <td class="experiments_video_td">
        <div class="experiments_video_div">
            <iframe src="https://player.vimeo.com/video/194739265?color=ef2400&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"
                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </td>

    <td class="experiments_video_text_td">
        <div class="experiments_video_text_div">
             PHRENIA Is an abstract installation displaying auditory and visual hallucinations, to create awareness of the difficult
            experiences of people who suffer from mental illnesses and in particular schizophrenia. It is a consideration on using virtual
            reality in performing arts.

            <p><b>A big thank you to</b><br> Actress: Yvonne <br> Actor: Thilo Herrmann <br> Script: Amalie Olesen Harry Fuhrmann <br> <a href="http://www.khora-vr.com" target=_blank>Khora VR</a> <br> 
                <a href="http://www.makropol.dk" target=_blank>MAKROPOL</a>

            </p>
        </div>
    </td>

</tr>
</table>