<table>
    <tr>

        <td class="experiments_video_td">
            <div class="experiments_video_div">
                <iframe src="https://player.vimeo.com/video/95729565?color=ef2400&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </td>

        <td class="experiments_video_text_td">
            <div class="experiments_video_text_div">
                Binaural sound production / synthesis build upon the idea of being able to recreate the experience of an auditory space,
                similar to how humans perceive distance and direction to an auditory event, in a sphere surrounding the listener. 
                
                <p>It possible
                to measure how individuals perceive this localization, and with this knowledge, recreate an auditory scene, with correct placement of sources when
                listening on headphones. Time and level differences of the same wavefront arriving to each of the two ears, are two important cues for correct localization.
                These differences change when the listener turns his/her head, which is why headtracking on headphones, is a good idea when listening to audio material synthesized binaurally.
                </p>
                <p></p>The change of angle to the auditory source changes when the listeners turns his/her head, since
                    the source stay fixed in space, but the listeners head is moving.
                </p>

                <p>
                     Louis Anglionin and <b>spektrogram</b> made a short demonstration of a home-build head tracking system.
                </p>
            </div>
        </td>

    </tr>
</table>