<ul>
    <li>
        <a href="http://www.ableton.com/" target=_blank>
            Ableton
        </a>
    </li>
    <li>
        <a href="http://www.arken.dk/" target=_blank>
            Arken Museum of Modern Art
        </a>
    </li>
    <li>
        <a href="https://www.conradidesign.dk/" target=_blank>
            Conradi Design
        </a>
    </li>

    <li>
        <a href="http://www.ciid.dk" target=_blank>
            Copenhagen Institute of Interaction Design (CIID)
        </a>
    </li>
    <li>
        <a href="https://kglteater.dk/om-os/nye-formater/corpus/" target=_blank>
            CORPUS / Danish Royal Theater
        </a>
    </li>
    <li>
        <a href="http://www.danielrothmann.com/" target=_blank>
            Daniel Rothmann
        </a>
    </li>
    <li>
        <a href="https://vimeo.com/stragholzsteinhorst" target=_blank>
            Hannah Stragholz / Simon Steinhorst
        </a>
    </li>
    <li>
        <a href="http://www.visitdenmark.com" target=_blank>
            Visit Denmark / OL Rio 2016
        </a>
    </li>

    <li>
        <a href="http://www.agency.idoart.dk/" target=_blank>
            I Do Art Agency
        </a>
    </li>
    <li>
        <a href="http://www.danishculture.org.br" target=_blank>
            Instituto Cultural da Dinamarca
        </a>
    </li>
    <li>
        <a href="http://www.ifb.edu.br/" target=_blank>
            Instituto Federal de Brasilia
        </a>
    </li>
    <li>
        <a href="http://jacstudios.dk/" target=_blank>
            JAC Studios
        </a>
    </li>
    <li>
        <a href="http://www.voetmann-akustik.dk/" target=_blank>
            Jan Voetmann
        </a>
    </li>
    <li>
        <a href="http://www.jasonbruges.com/" target=_blank>
            Jason Bruges Studio
        </a>
    </li>

    <li>
        <a href="http://www.sorenandreasen.com/" target=_blank>
            KlapKlap production
        </a>
    </li>

    <li>
        <a href="http://www.klaverfabrikken.dk/" target=_blank>
            Klaverfabrikken
        </a>
    </li>
    <li>
        <a href="http://www.klingklangklong.com/" target=_blank>
            kling klang klong
        </a>
    </li>
    <li>
        <a href="http://www.lrrh.de/" target=_blank>
            LRRH_
        </a>
    </li>
    <li>
        <a href="http://makropol.dk/" target=_blank>
            MAKROPOL
        </a>
    </li>

    <li>
        <a href="http://www.martinstigandersen.dk/" target=_blank>
            Martin Stig Andersen
        </a>
    </li>
    <li>
        <a href="http://norbergfestival.com/" target=_blank>
            Norberg Festival
        </a>
    </li>
    <li>
        <a href="http://hyperradio.radiofrance.fr/son-3d/" target=_blank>
            Radio France
        </a>
    </li>
    <li>
        <a href="http://www.randiogkatrine.dk/" target=_blank>
            Randi & Katrine
        </a>
    </li>
    <li>
        <a href="https://www.roskilde-festival.dk/" target=_blank>
            Roskilde Festival
        </a>
    </li>
    <li>
        <a href="http://www.rumkraft.dk" target=_blank>
            Rumkraft
        </a>
    </li>

    <li>
        <a href="https://schnellebuntebilder.de/" target=_blank>
            schnellebuntebilder
        </a>
    </li>
    <li>
        <a href="http://www.signa.dk" target=_blank>
            SIGNA
        </a>
    </li>
    <li>
        <a href="http://soniccollege.org/" target=_blank>
            Sonic College
        </a>
    </li>
    <li>
        <a href="http://www.stoj.io" target=_blank>
            støj
        </a>
    </li>
    <li>
        <a href="http://sunep.net/" target=_blank>
            Sune Petersen / MOTORSAW
        </a>
    </li>
    <li>
        <a href="http://www.tamschick.com/" target=_blank>
            Tamschick MEDIA+SPACE
        </a>
    </li>
    <li>
        <a href="http://www.sort-hvid.dk/" target=_blank>
            Theater SORT/HVID
        </a>
    </li>
    <li>
        <a href="https://vega.dk/" target=_blank>
            VEGA
        </a>
    </li>
    <li>
        <a href="http://aalborgteater.dk/" target=_blank>
            Ålborg Theater
        </a>
    </li>
</ul>