<table>
    <tr>

        <td class="index_video_td">
            <div class="main_video_div">
                <iframe src="https://player.vimeo.com/video/64001816?color=ef2400&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </td>

        <td class="main_video_text_td">
            <div class="main_video_text_div">
                 Abstract animation piece created in collaboration with motion graphic designer
                <a href="https://vimeo.com/64001816" target=_blank>Hodja Berlev / NEON BYTE</a>
                
                <p>Research in animation video / sound design. Video describe the transition between three states of mind, inspired by smells from three different plastic containers
                </p>

                <p>
                   <b> 
                       spektrogra: sound design / concept
                   </b> 
                </p>
            </div>
        </td>
    </tr>
</table>