<table>
    <tr>

        <td class="index_video_td">
            <div class="main_video_div">
              
            <iframe width="500" height="281.25" src="https://www.youtube.com/embed/QlDTBUlZpbg?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
        </td>

        <td class="main_video_text_td">
            <div class="main_video_text_div">
New interpretation of 'Cyrano de Bergerac'. 
<br>
director: <a href="http://www.vakhtangov.ru/en/persones/butusov" target=_blank>Yuri Butusov</a>

<p>Staged at <a href="https://aalborgteater.dk/event/cyrano/" target=_blank> Aalborg Theater</a></p>

<p><b>
    spektrogram: sound design / live sound tech.
</b>
</p>
            </div>
        </td>

    </tr>
</table>