<table>
    <tr >

    <td class="index_video_td">
        <div class="main_video_div" >
        <iframe src="https://player.vimeo.com/video/77693918?color=ef2400&title=0&byline=0&portrait=0" 
        width="500" height="281" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </td>

    <td class="main_video_text_td">
        <div class="main_video_text_div">
            Meet <b>D.O.R.T.H.E.</b> She is currently 15”, pretty pale but an incredibly warm and caring max/msp patch, that creates music
            from your thoughts in the form of written words and sentences. She is amazingly well connected speaking several languages
            with which she controls a number of mechanical machines build almost entirely out of scrap electronics. She sometimes
            get surprised how much really well-functioning stuff gets thrown out every day, from several reasons - one being “the
            new model arrived”.

            <p>
                One visit to the junkyard provided her with roughly $300 worth of DC and stepper-engines, plus additional heaps of little
                useful things.
            </p>
            <p>

                <b>D.O.R.T.H.E.</b> reuses words. She analyzes them, and use them for music creation because she believes that words,
                sentences and phonetics have many resemblances to music. Both one to one mappings like number of letters in a word
                translated to a pitch in music, but also emotional states like joy, distress, happiness, discomfort and fear.
            </p>
            <p>
                <b>D.O.R.T.H.E.</b> is about re-cycling. Re-cycle words - turn them into music. Re-cycle electronics and turn them into
                instruments.
            </p>
            <p><b> collaboration with
                <a href="http://sorenandreasen.com/" target=_blank>søren andreasen </a>
            </b></p>
        </div>
    </td>  

    </tr>
</table>

