<table>
    <tr>

        <td class="index_video_td">
            <div class="main_video_div">
                <iframe src="https://player.vimeo.com/video/162050725?color=ef2400&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </td>

        <td class="main_video_text_td">
            <div class="main_video_text_div">
           
                <a href="http://www.laptoporchestra.dk" target="_blank">Kopenhagen Laptop Orchestra</a>&nbsp;(KLO)&nbsp;explore using the computer as an instrument to perform improvised electronic
                music live.&nbsp;
                <br />
                <br />Footage is from&nbsp;
                <a href="http://www.dx-machina.dk/" target="_blank">Deus Ex Machina</a>, a Copenhagen based multichannel sound event, exploring the use of many loudspeakers to present live-performed
                electronic music. With inspiration from theater; each performance was staged in a scenography of wires and light. Each performer
                was at the center of the room, with the loudspeakers towards the performer. The audience was encouraged to walk around and
                experience the room during the performances in an attempt to dissolve the border between performer, stage and audience.
                <br/>
                <br />Deus Ex Machina were Initiated in 2015 by spektrogram in collaboration with&nbsp;
                <a href="http://www.scenekunstskolen.dk/" target="_blank">The Danish National School of Performing Arts</a>.
                <br />
                <br /><b>spektrogram: arrangement / mix / mastering
                </b>
                </div>
        </td>

    </tr>
</table>