<table>
    <tr>

        <td class="index_video_td">
            <div class="main_video_div">
                <iframe src="https://player.vimeo.com/video/163235854?color=ef2400&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </td>

        <td class="main_video_text_td">
            <div class="main_video_text_div">
                <a href="http://www.laptoporchestra.dk" target="_blank">Kopenhagen Laptop Orchestra</a> (KLO) is a playground for experimentation with technology. KLO are often fascinated by having a
                spatial awareness, and wanted to try out how it would affect live performances. This is an exploration 3D scanning our skulls,
                manipulating the model and re-projecting it back onto our skin while performing, for creating a sensation of space, inside
                our heads.
                <br />
                <br />&#8203;
                <b>spektrogram: sound design / mix / mastering</b>
            </div>
        </td>

    </tr>
</table>