<table>
    <tr>

        <td class="index_video_td">
            <div class="main_video_div">
                <iframe src="https://player.vimeo.com/video/207717295?color=ef2400&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </td>

        <td class="main_video_text_td">
            <div class="main_video_text_div">
                <a href="https://schnellebuntebilder.de/projects/fantastic-voyage/" target="_blank">Fantastic Voyage</a> was created in collaboration with
                <a href="https://schnellebuntebilder.de/" target="_blank">schnellebuntebilder</a> and
                <a href="http://klingklangklong.com/" target="_blank">klingklangklong</a>
                <br />
                <br />Fantastic Voyage takes visitors on a virtual journey through the abstract interior of a sculpture. Inspired by the possibilities
                opened up by modern endoscopes, visitors are given a tool that brings this reactive world to life using the power of light.
                Their generative environment changes as they interact with it, revealing new forms and patterns and bringing the world to
                life. Each visitor creates their own immersive narrative. The sculpture itself is also filled with living light that mirrors
                the visitors&rsquo; journey of exploration and displays it to the outside world, making the exhibit into a hybrid between
                a sculptural artwork and a medium of communication for sharing the fantastic voyages. spektrogram helped develop software
                for an interactive sound scape, that creates an immersive, binaural experience.
                <p><b> spektrogram: audio software development </b></p>
            </div>
        </td>

    </tr>
</table>