<table>
    <tr>

        <td class="index_video_td">
            <div class="main_video_div">
                <iframe src="https://player.vimeo.com/video/204860378?color=ef2400&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </td>

        <td class="main_video_text_td">
            <div class="main_video_text_div">
                <a href="http://www.tamschick.com/en/projects/a-day-in-riyadh/" target="_blank">'A Day In Riyadh'</a> 
                was <b>installed in UN Headquaters</b> where&nbsp;high-ranking diplomats from 193 countries experienced a
                special media highlight during the General Assembly in New York 2016.
                <br/>
                <br/>A 24 meter long LED wall immersed them in the modern metropolis of Riyadh, the capital of the Kingdom of Saudi Arabia.
                <br/>
                <br/>
                <p><b>spektrogram: audio software development</b></p><bR>
                 <p>in collaboration with<br>
                <a href="http://www.klingklangklong.com" target="_blank">www.klingklangklong.com</a><br>
                <a href="http://www.tamschick.com/en/" target="_blank">Tamschick MEDIA+SPACE</a>
                </p>
            </div>
        </td>

    </tr>
</table>