<table>
    <tr>

        <td class="index_video_td">
            <div class="main_video_div">
                <iframe src="https://player.vimeo.com/video/120309945?color=ef2400&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </td>

        <td class="main_video_text_td">
            <div class="main_video_text_div">
                <a href="http://www.randiogkatrine.dk/" target=_blank> Randi & Katrine</a> were commissioned for the installation 'BETWEEN TOWERS' at the danish
                <a href="http://www.arken.dk/udstilling/randi-katrine/"
                    target="_blank" title="">Museum of Modern Art, Arken</a>.


                <p>13 large transformer towers where in a 154 meters long room, at the entrance of the museum.&nbsp;
                </p>
                <p>Each tower had it's own personality, communicating with the others. &nbsp;
                </p>
                    
                <p>The sound design were mainly composed using synthesis on material recorded with b-field microphones. A microphone which is
                able to record fields of electricity.
                </p>

                <p>It was diffused as drones in each of the towers, and running audio animations along the length of the room, creating the
                sensation of communication flow.
                </p>

                <p>The levels of the constant audio were intentionally kept low, so the audience had to come close to the towers, and use their
                physical senses to experience the sound design, and the unique personalities of each tower.
                </p>
            <b>spektrogram: sound design / speaker installation</b>
            </div>
        </td>

    </tr>
</table>