<table>
    <tr>

        <td class="index_video_td">
            <div class="main_video_div">
                <iframe src="https://player.vimeo.com/video/138656845?color=ef2400&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </td>

        <td class="main_video_text_td">
            <div class="main_video_text_div">
                <a href="http://www.rumkraft.dk" target="_blank">Rumkraft</a> is a Copenhagen, Denmark based school and meeting space for electronic musicians.
                <p>Founded by Lasse Munk and Rasmus Kjærbo &nbsp;striving to assist the communal social knowledge sharing, by offering an open space with a bunch of workshops
                and educational courses.&nbsp;</p>
                <br />It is possible to attend courses including creative coding using Max 7 by Cycling '74, music production with Ableton Live
                &amp; Push, understanding law around intellectual property (copyright, contracts etc.) and a series of user-created workshops
                around the subjects of composition, music technology, electronics and performing arts.
            
                <p>
                    <b>
                        spektrogram: sound design
                    </b>
                </p>
            </div>
        </td>

    </tr>
</table>