<table>
    <tr>

        <td class="index_video_td">
            <div class="main_video_div">
                <iframe src="https://player.vimeo.com/video/203282932?color=ef2400&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </td>

        <td class="main_video_text_td">
            <div class="main_video_text_div">
                Sound design created in collaboration with
                <a href="http://www.jasonbruges.com/digital-ornithology/" target=_blank> Jason Bruges Studio</a> and
                <a href="http://www.jacstudios.dk/filter/exhibition/THE-WADDEN-SEA" target=_blank>JAC Studio</a> for the installation 'Digital Ornithology', as part of the permanent exhibition at
                <a href="https://www.vadehavscentret.dk/en/frontpage/" target=_blank>Vadehavscentret</a> - a danish museum exhibiting wild birdlife at the 'Wadden Sea'. 
                <p>Our installation is an artistic approach to the experience of being surrounded by 
                    thousands of birds, while they migrate.</p>

                <p>The Wadden Sea is classified as <b>UNESCO World Heritage</b>
                </p>
                <p><b>
                    spektrogram: <br>sound design <br> consultant, room acoustics / speaker installation
                </b></p>
            </div>
        </td>

    </tr>
</table>
